<% provide(:title, "Log in") %>
<section class="centered bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
<%= form_for(:session, url: login_path) do |f| %>
<div class="row-80 centered form-field">
<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>
</div>
<div class="row-80 centered form-field">
<%= f.label :password %>
<small>
<%= link_to "(forgot password)", new_password_reset_path %>
</small>
<%= f.password_field :password, class: 'form-control' %>
</div>
<div class="row-80 centered form-field">
<%= f.label :remember_me, class: "checkbox inline" do %>
<%= f.check_box :remember_me %>
<span>Remember me</span>
<% end %>
</div>
<div class="row-80 centered form-field">
<%= f.submit "Log in", class: "button large" %>
</div>
<div class="row-80 centered form-field">
<small>Don't have an account? <%= link_to "Sign Up", signup_path %></small>
</div>
<% end %>
		</div><!-- columns -->
	</div><!-- row -->
</section>