			<div class="row-90 centered experience-card">
			<div class="column">
			<%= image_tag "company-logo-default.png", class: "company-logo" %>
			</div>
			<div class="column experience-summary">
			<span class="column">
					<h4 class="job-title">
					<%= position.title %>
					</h4>
			</span>
					<p class="company-name">
					<%= position.company %>
					</p>
					<p class="time-location">
					<%= position.start_date %> to <%= position.end_date %>
					</p>
			</div>
			<div class="column righted clearfix">
			<% if current_user?(@user) %>
			<a href="../positions/<%= position.id %>/edit">
			<span class="column">
			<i class="material-icons">mode_edit</i>
			</span>
			<span class="column">
			<small>
			Edit
			</small>
			</span>
			</a>
			<% end %>
			</div>
			<div class="column">
			<p class="company-summary">
			<%= position.summary %>
			</p>
			</div><!-- column -->
			</div><!-- row-90 work-experience-card -->
