<section class="centered bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
				<%= form_for User.find(params[:id]) do |f| %>
				<%= render 'shared/error_messages', object: @user %>
				<h3 class="text-center">
				Select Your Ally Circle
				</h3>
			<div class="row-80 centered form-field">
				<%= f.label :enthusiast %>
				<%= f.check_box :enthusiast %>
			</div><!-- form-field -->

			<div class="row-80 centered form-field">
				<%= f.label :skeptic %>
				<%= f.check_box :skeptic %>
			</div><!-- form-field -->

			<div class="row-80 centered form-field">
				<%= f.label :pioneer %>
				<%= f.check_box :pioneer %>
			</div><!-- form-field -->

			<div class="row-80 centered form-field">
				<%= f.label :navigator %>
				<%= f.check_box :navigator %>
			</div><!-- form-field -->

			<div class="row-80 centered form-field">
				<%= f.label :coach %>
				<%= f.check_box :coach %>
			</div><!-- form-field -->

			<div class="row-80 centered form-field">
				<%= f.label :solo %>
				<%= f.check_box :solo %>
			</div><!-- form-field -->

			<div class="row-80 centered form-field">
				<%= f.submit "Save changes", class: "button secondary extend" %>
				<% end %>
			</div><!-- form-field -->

		</div><!-- columns grid-80 -->
	</div><!-- row -->
</section><!-- bottomfix -->
