		<% if logged_in? %>
				<%= form_for User.find(params[:id]) do |f| %>
				<%= render 'shared/error_messages', object: @user %>

			<div class="row-80 centered form-field">
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
			</div><!-- form-field -->

			<div class="row-80 centered form-field">
				<%= f.label :location %>
				<%= f.text_field :location, class: 'form-control' %>
			</div><!-- form-field -->
			<div class="row-80 centered form-field">
				<%= f.label :headline %>
				<%= f.text_field :headline, class: 'form-control' %>
			</div><!-- form-field -->
			<div class="row-80 centered form-field">
				<%= f.label :industry %>
				<%= f.text_field :industry, class: 'form-control' %>
			</div><!-- form-field -->
			<div class="row-80 centered form-field">
				<%= f.label :linkedin %>
				<%= f.text_field :linkedin, class: 'form-control' %>
			</div><!-- form-field -->
			<div class="row-80 centered form-field">
				<%= f.label :summary %>
				<%= f.text_area :summary, class: 'form-control' %>
			</div><!-- form-field -->

			<div class="row-80 centered form-field">
				<%= f.submit "Save changes", class: "button secondary extend" %>
			</div><!-- form-field -->

			<% end %>


		<% else %>
			<%= form_for @user do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="row-80 centered form-field">
			<%= link_to "auth/linkedin", class: "button linkedin extend" do%>
			<span class="column icon">
			</span>
			<span class="column">
			Sign Up with LinkedIn
			</span>
			<% end %>
			</div><!-- form-field -->
			<div class="row-80 centered form-field">
			<h4 class="email-form">
			<span class="column">
			Or
			</span>
			</h4>
			</div><!-- form-field -->
			<div class="row-80 centered form-field">
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
			</div><!-- form-field -->
			<div class="row-80 centered form-field">
				<%= f.label :email %>
				<%= f.email_field :email, class: 'form-control' %>
			</div><!-- form-field -->
			<div class="row-80 centered form-field">
				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
			</div><!-- form-field -->
			<div class="row-80 centered form-field">
				<%= f.label :password_confirmation, "Enter password again" %>
				<%= f.password_field :password_confirmation, class: 'form-control' %>
			</div><!-- form-field -->
			<div class="row-80 centered form-field">
				<%= f.button :submit, class: "button success extend" do %>
					<span class="column">
					<i class="material-icons">email</i>
					</span>
					<span class="column">
					Sign Up with Email
					</span>
				<% end %>
				<%# = f.submit "Sign Up", class: "button success extend" %>
				<small>Have an account? <%= link_to "Log In", login_path %></small>
			</div><!-- form-field -->
		<% end %>
		<% end %>
