			<div class="grid-40">
		<% if current_user?(@user) %>
			<div class="sticky-note last">
				<div class="row allies">
				<div class="column">
					<h3>
						<span class="column">
						<i class="material-icons">people_outline</i>
						</span>
						<span class="column">
						My Allies
						</span>
					</h3>
				</div>
				<div class="column righted clearfix sub-menu">
				<% if current_user?(@user) %>
					<a href="">
					<small>
					Settings
					</small>
					<i class="material-icons">settings</i>
					</a>
				<% end %>
				</div>
	
				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
							<span class="column">
							<i class="material-icons">favorite</i>
							</span>
							<span class="column">
							Enthusiast
							</span>
						</h4>

					<div class="column ally-avator lefted">
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
					</div><!-- ally-avator -->

					<div class="column ally-info">
						<p class="ally-name">
							<span class="column">
								<a href="#">
								<span class="column">
								Victoria
								</span>
								<span class="column sub-menu">
								<i class="material-icons">launch</i>
								</span>
								</a>
							</span>
						</p>
					</div><!-- column ally-info -->

					<div class="column sub-menu righted clearfix">
						<% if current_user?(@user) %>
							<a href="#">
							<small class="f400">
							Edit
							</small>
							<i class="material-icons">mode_edit</i>
							</a>
						<% end %>
					</div><!-- sub-menu -->

					<div class="column ally-info">
					<p class="ally-title">
						Associate Account Executive
					</p>
					</div><!-- ally-info -->
					</div><!-- ally-profile -->
	
					<div class="ally-comment">
						<h5>
							Feedback
						</h5>
							<small>
							2 Days ago
							</small>
						<p>
							I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
							<a href="#">
							<span class="column">
							<i class="material-icons">reply</i>
							</span>
							<span class="column">
							Reply
							</span>
							</a>
						</p>
					</div><!-- ally-comment -->
				</div><!-- my-ally -->
	
				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
							<span class="column">
							<i class="material-icons">search</i>
							</span>
							<span class="column">
							Skeptic
							</span>
						</h4>

					<div class="column ally-avator lefted">
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
					</div><!-- ally-avator -->

					<div class="column ally-info">
						<p class="ally-name">
							<span class="column">
								<a href="#">
								<span class="column">
								Victoria
								</span>
								<span class="column sub-menu">
								<i class="material-icons">launch</i>
								</span>
								</a>
							</span>
						</p>
					</div><!-- column ally-info -->

					<div class="column sub-menu righted clearfix">
						<% if current_user?(@user) %>
							<a href="#">
							<small class="f400">
							Edit
							</small>
							<i class="material-icons">mode_edit</i>
							</a>
						<% end %>
					</div><!-- sub-menu -->

					<div class="column ally-info">
					<p class="ally-title">
						Associate Account Executive
					</p>
					</div><!-- ally-info -->
					</div><!-- ally-profile -->
	
					<div class="ally-comment">
						<h5>
							Feedback
						</h5>
							<small>
							2 Days ago
							</small>
						<p>
							I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
							<a href="#">
							<span class="column">
							<i class="material-icons">reply</i>
							</span>
							<span class="column">
							Reply
							</span>
							</a>
						</p>
					</div><!-- ally-comment -->
				</div><!-- my-ally -->

				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
							<span class="column">
							<i class="material-icons">near_me</i>
							</span>
							<span class="column">
							Pioneer
							</span>
						</h4>

					<div class="column ally-avator lefted">
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
					</div><!-- ally-avator -->

					<div class="column ally-info">
						<p class="ally-name">
							<span class="column">
								<a href="#">
								<span class="column">
								Victoria
								</span>
								<span class="column sub-menu">
								<i class="material-icons">launch</i>
								</span>
								</a>
							</span>
						</p>
					</div><!-- column ally-info -->

					<div class="column sub-menu righted clearfix">
						<% if current_user?(@user) %>
							<a href="#">
							<small class="f400">
							Edit
							</small>
							<i class="material-icons">mode_edit</i>
							</a>
						<% end %>
					</div><!-- sub-menu -->

					<div class="column ally-info">
					<p class="ally-title">
						Associate Account Executive
					</p>
					</div><!-- ally-info -->
					</div><!-- ally-profile -->
	
					<div class="ally-comment">
						<h5>
							Feedback
						</h5>
							<small>
							2 Days ago
							</small>
						<p>
							I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
							<a href="#">
							<span class="column">
							<i class="material-icons">reply</i>
							</span>
							<span class="column">
							Reply
							</span>
							</a>
						</p>
					</div><!-- ally-comment -->
				</div><!-- my-ally -->

				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
							<span class="column">
							<i class="material-icons">explore</i>
							</span>
							<span class="column">
							Navigator
							</span>
						</h4>

					<div class="column ally-avator lefted">
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
					</div><!-- ally-avator -->

					<div class="column ally-info">
						<p class="ally-name">
							<span class="column">
								<a href="#">
								<span class="column">
								Victoria
								</span>
								<span class="column sub-menu">
								<i class="material-icons">launch</i>
								</span>
								</a>
							</span>
						</p>
					</div><!-- column ally-info -->

					<div class="column sub-menu righted clearfix">
						<% if current_user?(@user) %>
							<a href="#">
							<small class="f400">
							Edit
							</small>
							<i class="material-icons">mode_edit</i>
							</a>
						<% end %>
					</div><!-- sub-menu -->

					<div class="column ally-info">
					<p class="ally-title">
						Associate Account Executive
					</p>
					</div><!-- ally-info -->
					</div><!-- ally-profile -->
	
					<div class="ally-comment">
						<h5>
							Feedback
						</h5>
							<small>
							2 Days ago
							</small>
						<p>
							I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
							<a href="#">
							<span class="column">
							<i class="material-icons">reply</i>
							</span>
							<span class="column">
							Reply
							</span>
							</a>
						</p>
					</div><!-- ally-comment -->
				</div><!-- my-ally -->

				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
							<span class="column">
							<i class="material-icons">spa</i>
							</span>
							<span class="column">
							Coach
							</span>
						</h4>

					<div class="column ally-avator lefted">
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
					</div><!-- ally-avator -->

					<div class="column ally-info">
						<p class="ally-name">
							<span class="column">
								<a href="#">
								<span class="column">
								Victoria
								</span>
								<span class="column sub-menu">
								<i class="material-icons">launch</i>
								</span>
								</a>
							</span>
						</p>
					</div><!-- column ally-info -->

					<div class="column sub-menu righted clearfix">
						<% if current_user?(@user) %>
							<a href="#">
							<small class="f400">
							Edit
							</small>
							<i class="material-icons">mode_edit</i>
							</a>
						<% end %>
					</div><!-- sub-menu -->

					<div class="column ally-info">
					<p class="ally-title">
						Associate Account Executive
					</p>
					</div><!-- ally-info -->
					</div><!-- ally-profile -->
	
					<div class="ally-comment">
						<h5>
							Feedback
						</h5>
							<small>
							2 Days ago
							</small>
						<p>
							I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
							<a href="#">
							<span class="column">
							<i class="material-icons">reply</i>
							</span>
							<span class="column">
							Reply
							</span>
							</a>
						</p>
					</div><!-- ally-comment -->
				</div><!-- my-ally -->
	
				</div><!-- row sticky-note -->
			</div><!-- sticky-note end -->
		<% end %>
	</div><!-- grid-40 -->
