<section class="centered bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
	
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	
		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>
	
		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>
	
		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation, class: 'form-control' %>
	
		<%= f.submit "Create my account", class: "button large" %>
	<% end %>
	<p>Have an account? <%= link_to "Log In", login_path %></p>
			</div><!-- columns -->
	</div><!-- row -->
</section>