<% provide(:title, @user.name) %>
<section class="centered profile-section">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
		<div class="grid-60 sticky-note first">
			<div class="row profile-card">
			<div class="column">
			<%= gravatar_for @user %>
			<!-- img class="profile-pic" src="uploads/profile-picture-1.jpg" -->
			</div>
			<div class="column taglines">
			<h2 class="user-name">
				Hi <%= @user.name %>!
			</h2>
			<p class="location">
			San Francisco Bay Area
			</p>
			<p class="industry">
			IT Service
			</p>
			<p class="headline">
			Business Development
			</p>
			<p class="current-position">
			Partnership Program Manager
			</p>
			<small>
			<%= render 'shared/stats' %>
			<%= render 'follow_form' if logged_in? %>
			</small>
			</div>
			<div class="column righted clearfix">
				<a href="">
				<small>
				Settings
				</small>
				<i class="material-icons sub-menu">settings</i>
				</a>
			</div>
			</div><!-- row -->
			<div class="bottom text-center">
				<a href="#">
				<span class="sub-menu">
				More
				</span>
				<i class="material-icons">launch</i>
				</a>
			</div><!-- bottom end -->
		</div><!-- sticky-note -->

		<div class="screen-m screen-s spacer"></div>

			<div class="grid-40 sticky-note last">
				<div class="row feed">
						<h3>
						<span class="column">
						Feed
						</span>
						<span class="column righted clearfix">
						<i class="material-icons">rss_feed</i>
						</span>
						</h3>
						<ol class="microposts">
						<% if @user.microposts.any? %>
						<%= render @microposts %>
						</ol>
						<%= will_paginate @microposts %>
						<% end %>
					
				</div><!-- row sticky-note -->
				<div class="bottom text-center">
				<a href="#">
				<span class="sub-menu">
				More
				</span>
				<i class="material-icons">launch</i>
				</a>
				</div><!-- bottom end -->
			</div><!-- grid-40 end -->

		</div><!-- columns -->

	</div><!-- row -->
</section>



<section class="centered profile-section bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-100 sticky-note first last clear-float">
				<div class="row summary">
					<h3>
					<span class="column">
					<i class="material-icons">assignment_ind</i>
					</span>
					<span class="column">
					Summary
					</span>
					</h3>
					<p>
					Entrepreneurial spirited professional with broad skills in start-ups, international business development, and bridging academia with business communities. I am passionate about helping individuals harness the power of their awesome story to connection.
					</p>
				</div><!-- row -->
				<div class="bottom text-center">
				<a href="#">
				<span class="sub-menu">
				Edit
				</span>
				<i class="material-icons">mode_edit</i>
				</a>
				</div><!-- bottom end -->
			</div><!-- grid-100 sticky-note end -->
		</div><!-- columns grid-90 centered -->
	</div><!-- row end -->

	<div class="row">
		<div class="columns grid-80 centered clearfix">
	
			<div class="grid-100 sticky-note first last">
				<div class="row allies">
				<div class="column">
					<h3>
					<span class="column">
					<i class="material-icons">people_outline</i>
					</span>
					<span class="column">
					My Allies
					</span>
					</h3>
				</div>
				<div class="column righted clearfix sub-menu">
					<a href="">
					<small>
					Settings
					</small>
					<i class="material-icons">settings</i>
					</a>
				</div>
	
				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
						<span class="column">
						<i class="material-icons">favorite</i>
						</span>
						<span class="column">
						Enthusiast
						</span>
						</h4>
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
						<p class="ally-name">
						<span class="column">
						<a href="#">
						<span class="column">
						Victoria
						</span>
						<span class="column sub-menu">
						<i class="material-icons">launch</i>
						</span>
						</a>
						</span>
						<span class="column righted clearfix sub-menu">
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
						</span>
						</p>
						<p class="ally-title">
						Associate Account Executive
						</p>
					</div>
	
					<div class="ally-comment">
						<h5>
						Feedback
						</h5>
						<small>
						2 Days ago
						</small>
						<p>
						I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
						<a href="#">
						<span class="column">
						<i class="material-icons">reply</i>
						</span>
						<span class="column">
						Reply
						</span>
						</a>
						</p>
					</div>
				</div><!-- my-ally -->
	
				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
						<span class="column">
						<i class="material-icons">search</i>
						</span>
						<span class="column">
						Skeptic
						</span>
						</h4>
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
						<p class="ally-name">
						<span class="column">
						<a href="#">
						<span class="column">
						Victoria
						</span>
						<span class="column sub-menu">
						<i class="material-icons">launch</i>
						</span>
						</a>
						</span>
						<span class="column righted clearfix sub-menu">
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
						</span>
						</p>
						<p class="ally-title">
						Associate Account Executive
						</p>
					</div>
	
					<div class="ally-comment">
						<h5>
						Feedback
						</h5>
						<small>
						2 Days ago
						</small>
						<p>
						I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">

						<span class="column">
						<i class="material-icons">check_circle</i>
						</span>
						<span class="column">
						Replied
						</span>

						</p>
					</div>
				</div><!-- my-ally -->

				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
						<span class="column">
						<i class="material-icons">near_me</i>
						</span>
						<span class="column">
						Pioneer
						</span>
						</h4>
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
						<p class="ally-name">
						<span class="column">
						<a href="#">
						<span class="column">
						Victoria
						</span>
						<span class="column sub-menu">
						<i class="material-icons">launch</i>
						</span>
						</a>
						</span>
						<span class="column righted clearfix sub-menu">
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
						</span>
						</p>
						<p class="ally-title">
						Associate Account Executive
						</p>
					</div>
	
					<div class="ally-comment">
						<h5>
						Feedback
						</h5>
						<small>
						2 Days ago
						</small>
						<p>
						I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">

						<span class="column">
						<i class="material-icons">check_circle</i>
						</span>
						<span class="column">
						Replied
						</span>

						</p>
					</div>
				</div><!-- my-ally -->

				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
						<span class="column">
						<i class="material-icons">explore</i>
						</span>
						<span class="column">
						Navigator
						</span>
						</h4>
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
						<p class="ally-name">
						<span class="column">
						<a href="#">
						<span class="column">
						Victoria
						</span>
						<span class="column sub-menu">
						<i class="material-icons">launch</i>
						</span>
						</a>
						</span>
						<span class="column righted clearfix sub-menu">
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
						</span>
						</p>
						<p class="ally-title">
						Associate Account Executive
						</p>
					</div>
	
					<div class="ally-comment">
						<h5>
						Feedback
						</h5>
						<small>
						2 Days ago
						</small>
						<p>
						I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
						<a href="#">
						<span class="column">
						<i class="material-icons">reply</i>
						</span>
						<span class="column">
						Reply
						</span>
						</a>
						</p>
					</div>
				</div><!-- my-ally -->

				<div class="column my-ally last">
					<div class="ally-profile">
						<h4 class="ally-class">
						<span class="column">
						<i class="material-icons">spa</i>
						</span>
						<span class="column">
						Coach
						</span>
						</h4>
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
						<p class="ally-name">
						<span class="column">
						<a href="#">
						<span class="column">
						Victoria
						</span>
						<span class="column sub-menu">
						<i class="material-icons">launch</i>
						</span>
						</a>
						</span>
						<span class="column righted clearfix sub-menu">
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
						</span>
						</p>
						<p class="ally-title">
						Associate Account Executive
						</p>
					</div>
	
					<div class="ally-comment">
						<h5>
						Feedback
						</h5>
						<small>
						2 Days ago
						</small>
						<p>
						I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
						<a href="#">
						<span class="column">
						<i class="material-icons">reply</i>
						</span>
						<span class="column">
						Reply
						</span>
						</a>
						</p>
					</div>
				</div><!-- my-ally -->

	
				</div><!-- row sticky-note -->
				<div class="bottom text-center">
					<a href="#">
					Edit
					</a>
				</div><!-- bottom end -->
			</div><!-- grid-100 end -->
		</div><!-- grid-80 centered -->
	</div><!-- row -->

	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-100 sticky-note first last clear-float">
				<div class="row howrudoing">
					<h3>
					<span class="column">
					<i class="material-icons">assignment</i>
					</span>
					<span class="column">
					How RUDoing?
					</span>
					</h3>
					<div class="row-90 centered questions">

						<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							</span>
							<span class="column">
							I am meeting my responsibilities and obligations.
							</span>
							</h4>
							<div class="answer">
								<h5>
								Your Answer
								</h5>
								<small>
								Answered 2 Days ago
								</small>
								<p>
								I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't forget reward yourself!
								</p>
								<div class="edit-answer">
									<a href="#">
									<span class="column">
									<i class="material-icons">mode_edit</i>
									</span>
									<span class="column">
									<small>
									Edit
									</small>
									</span>
								</a>
								</div>
						</div>
					</div><!-- question -->

					<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							</span>
							<span class="column">
							I am engaged and love activities I do regularly.
							</span>
							</h4>
							<div class="answer">
								<h5>
								Your Answer
								</h5>
								<small>
								Answered 2 Days ago
								</small>
								<p>
								I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't forget reward yourself!
								</p>
								<div class="edit-answer">
									<a href="#">
									<span class="column">
									<i class="material-icons">mode_edit</i>
									</span>
									<span class="column">
									<small>
									Edit
									</small>
									</span>
								</a>
								</div>
						</div>
					</div><!-- question -->

					<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							</span>
							<span class="column">
							I am optimistic about my future.
							</span>
							</h4>
							<div class="answer">
								<h5>
								Your Answer
								</h5>
								<small>
								Answered 2 Days ago
								</small>
								<p>
								I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't forget reward yourself!
								</p>
								<div class="edit-answer">
									<a href="#">
									<span class="column">
									<i class="material-icons">mode_edit</i>
									</span>
									<span class="column">
									<small>
									Edit
									</small>
									</span>
								</a>
								</div>
						</div>
					</div><!-- question -->

					<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							</span>
							<span class="column">
							I actively contribute to the well-being and happiness of others.
							</span>
							</h4>
							<div class="answer">
								<h5>
								Your Answer
								</h5>
								<small>
								Answered 2 Days ago
								</small>
								<p>
								I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't forget reward yourself!
								</p>
								<div class="edit-answer">
									<a href="#">
									<span class="column">
									<i class="material-icons">mode_edit</i>
									</span>
									<span class="column">
									<small>
									Edit
									</small>
									</span>
								</a>
								</div>
						</div>
					</div><!-- question -->

					<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							</span>
							<span class="column">
							I lead a purposeful and meaningful life.
							</span>
							</h4>
							<div class="answer">
								<h5>
								Your Answer
								</h5>
								<small>
								Answered 2 Days ago
								</small>
								<p>
								I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't forget reward yourself!
								</p>
								<div class="edit-answer">
									<a href="#">
									<span class="column">
									<i class="material-icons">mode_edit</i>
									</span>
									<span class="column">
									<small>
									Edit
									</small>
									</span>
								</a>
								</div>
						</div>
					</div><!-- question -->

					<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							</span>
							<span class="column">
							I feel competent and capable in what I do.
							</span>
							</h4>
							<div class="answer">
								<h5>
								Your Answer
								</h5>
								<small>
								Answered 2 Days ago
								</small>
								<p>
								I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't forget reward yourself!
								</p>
								<div class="edit-answer">
									<a href="#">
									<span class="column">
									<i class="material-icons">mode_edit</i>
									</span>
									<span class="column">
									<small>
									Edit
									</small>
									</span>
								</a>
								</div>
						</div>
					</div><!-- question -->

					<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							</span>
							<span class="column">
							I embrace and explore positive and supportive relationships.
							</span>
							</h4>
							<div class="answer">
								<h5>
								Your Answer
								</h5>
								<small>
								Answered 2 Days ago
								</small>
								<p>
								I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't forget reward yourself!
								</p>
								<div class="edit-answer">
									<a href="#">
									<span class="column">
									<i class="material-icons">mode_edit</i>
									</span>
									<span class="column">
									<small>
									Edit
									</small>
									</span>
								</a>
								</div>
						</div>
					</div><!-- question -->

					<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							</span>
							<span class="column">
							I feel good about myself and the life I lead.
							</span>
							</h4>
							<div class="answer">
								<h5>
								Your Answer
								</h5>
								<small>
								Answered 2 Days ago
								</small>
								<p>
								I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't forget reward yourself!
								</p>
								<div class="edit-answer">
									<a href="#">
									<span class="column">
									<i class="material-icons">mode_edit</i>
									</span>
									<span class="column">
									<small>
									Edit
									</small>
									</span>
								</a>
								</div>
						</div>
					</div><!-- question -->

					<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							</span>
							<span class="column">
							I am energized and excited about life.
							</span>
							</h4>
							<div class="answer">
								<h5>
								Your Answer
								</h5>
								<small>
								Answered 2 Days ago
								</small>
								<p>
								I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't forget reward yourself!
								</p>
								<div class="edit-answer">
									<a href="#">
									<span class="column">
									<i class="material-icons">mode_edit</i>
									</span>
									<span class="column">
									<small>
									Edit
									</small>
									</span>
								</a>
								</div>
						</div>
					</div><!-- question -->

					<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							</span>
							<span class="column">
							I am continually learning and developing.
							</span>
							</h4>
							<div class="answer">
								<h5>
								Your Answer
								</h5>
								<small>
								Answered 2 Days ago
								</small>
								<p>
								I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't forget reward yourself!
								</p>
								<div class="edit-answer">
									<a href="#">
									<span class="column">
									<i class="material-icons">mode_edit</i>
									</span>
									<span class="column">
									<small>
									Edit
									</small>
									</span>
								</a>
								</div>
						</div>
					</div><!-- question -->

					</div><!-- questions -->
				</div><!-- row -->
				<div class="bottom text-center">
					<a href="#">
					Edit
					</a>
				</div><!-- bottom end -->
			</div><!-- grid-100 sticky-note end -->
		</div><!-- columns grid-90 centered -->
	</div><!-- row end -->

	<div class="row">
	<div class="columns grid-80 centered clearfix">
			<div class="grid-50 sticky-note first">
				<div class="row">
					<h3>
					<span class="column">
					<i class="material-icons">assignment</i>
					</span>
					<span class="column">
					Skills
					</span>
					</h3>
						<div class="column skills">
						<ul><li>
							Business Development
						</li><li>
							Employee Success
						</li><li>
							Out Reach
						</li></ul>
							
						</div>
					
				</div><!-- row sticky-note -->
				<div class="bottom text-center">
					<a href="#">
					Edit
					</a>
				</div><!-- bottom end -->
			</div><!-- grid-30 end -->

		<div class="screen-m screen-s spacer"></div>

			<div class="grid-50 sticky-note last">
				<div class="row">
					<h3>
					<span class="column">
					<i class="material-icons">assignment</i>
					</span>
					<span class="column">
					Other Skills
					</span>
					</h3>

						<div class="column skills">
						<ul><li>
							Japanese
						</li><li>
							Leadership
						</li><li>
							Social Impact
						</li></ul>
							
						</div>

				</div><!-- row sticky-note -->
				<div class="bottom text-center">
					<a href="#">
					Edit
					</a>
				</div><!-- bottom end -->
			</div><!-- grid-70 end -->
	</div>
	</div>

	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-100 sticky-note first last clear-float">
				<div class="row work-experience">
				<div class="column">
					<h3>
					<span class="column">
					<i class="material-icons">work</i>
					</span>
					<span class="column">
					Work Experience
					</span>
				</h3>
				</div>
			<div class="column righted clearfix">
				<a href="">
				<small>
				Settings
				</small>
				<i class="material-icons sub-menu">settings</i>
				</a>
			</div>

			<div class="row-90 centered experience-card">
			<div class="column">
			<%= image_tag "company-logo-default.png", class: "company-logo" %>
			</div>
			<div class="column experience-summary">
			<span class="column">
					<h4 class="job-title">
					&lt;Job Title&gt;
					</h4>
			</span>
					<p class="company-name">
					&lt;Company Name&gt;
					</p>
					<p class="time-location">
					April 2013 – Present (3 years 2 months) san francisco, california
					</p>
			</div>
			<div class="column righted clearfix">
				<a href="">
				<small>
				Edit
				</small>
				<i class="material-icons sub-menu">mode_edit</i>
				</a>
			</div>
			<div class="column">
			<p class="company-summary">
			Entrepreneurial spirited professional with broad skills in start-ups, international business development, and bridging academia with business communities.
			</p>
			</div><!-- column -->
			</div><!-- row-90 work-experience-card -->

			<div class="row-90 centered experience-card last">
			<div class="column">
			<%= image_tag "company-logo-default.png", class: "company-logo" %>
			</div>
			<div class="column experience-summary">
			<span class="column">
					<h4 class="job-title">
					&lt;Job Title&gt;
					</h4>
			</span>
					<p class="company-name">
					&lt;Company Name&gt;
					</p>
					<p class="time-location">
					April 2013 – Present (3 years 2 months) san francisco, california
					</p>
			</div>
			<div class="column righted clearfix">
				<a href="">
				<small>
				Edit
				</small>
				<i class="material-icons sub-menu">mode_edit</i>
				</a>
			</div>
			<div class="column">
			<p class="company-summary">
			Entrepreneurial spirited professional with broad skills in start-ups, international business development, and bridging academia with business communities.
			</p>
			</div><!-- column -->
			</div><!-- row-90 work-experience-card -->
			</div><!-- row -->
				<div class="bottom text-center">
					<a href="#">
					Edit
					</a>
				</div><!-- bottom end -->
			</div><!-- grid-100 sticky-note end -->
		</div><!-- columns grid-90 centered -->
	</div><!-- row end -->

</section><!-- centered bottomfix -->

