<% provide(:title, @user.name) %>



<section class="centered profile-section">

<% if current_user?(@user) %>
<%#= render 'shared/micropost_form' %>
<%#= render 'shared/picture_form' %>
<%#= render 'shared/survey_form' %>
<% end %>

	<div class="row">
		<div class="columns grid-80 centered clearfix">
		<div class="grid-60 sticky-note first">
			<div class="row profile-card">
			<div class="column">
			<%= gravatar_for @user %>
			<!-- img class="profile-pic" src="uploads/profile-picture-1.jpg" -->
			</div>
			<div class="column taglines">
			<h2 class="user-name">
				Hi <%= @user.name %>!
			</h2>

			<p class="location">
			<%= @user.location %>
			</p>
			<p class="headline">
			<%= @user.headline %>
			</p>
			<p class="industry">
			<%= @user.industry %>
			</p>
			<p>
			<small>
			<%= render 'shared/stats' %>
			<%= render 'follow_form' if logged_in? %>
			</small>
			</p>
			</div>
			<div class="column righted clearfix">
			<% if current_user?(@user) %>
				<%= link_to edit_user_path(current_user) do %>
				<small>
				Edit
				</small>
				<i class="material-icons sub-menu">mode_edit</i>
				<% end %>
				<% else %>
			<% end %>
			</div>
			</div><!-- row -->
			<div class="bottom text-center">
			<% if @user.linkedin? %>
				<%= link_to @user.linkedin, target: "_blank" do %>
				<span class="sub-menu">
				<small>
				<%= @user.linkedin %>
				</small>
				</span>
				<i class="material-icons">launch</i>
				<% end %>
			<% end %>
			</div><!-- bottom end -->
		</div><!-- sticky-note -->

		<div class="screen-m screen-s spacer"></div>
		</div><!-- columns -->

	</div><!-- row -->
</section>



<section class="centered profile-section bottomfix">

	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-100 sticky-note first last clear-float">
				<div class="row summary">
					<h3>
					<span class="column">
					<i class="material-icons">assignment_ind</i>
					</span>
					<span class="column">
					Summary
					</span>
					<span class="column righted clearfix sub-menu">
				<% if current_user?(@user) %>
				<%= link_to edit_user_path(current_user) do %>
				<small>
				Edit
				</small>
				<i class="material-icons sub-menu">mode_edit</i>
				<% end %>
			<% end %>
					</span>
					</h3>
					<p>
					<% if @user.summary? %>
					<%= @user.summary %>
					<% else %>
					<% if current_user?(@user) %>
						<%= link_to edit_user_path do%>
						<span class="column">
						<small>
						"Update your summary.."
						</small>
						</span>
						<span class="column">
						<i class="material-icons">mode_edit</i>
						</span>
						<% end %>
						<% else %>
						<span class="column italic">
						<small>
						"This user yat update summary.."
						</small>
						</span>
						<span class="column righted">
						<i class="material-icons">info_outline</i>
						</span>
						<% end %>
					<% end %>
					</p>
				</div><!-- row summary -->

			</div><!-- grid-100 sticky-note end -->
		</div><!-- columns grid-80 centered -->
	</div><!-- row -->

<% if current_user?(@user) %>
	<div class="row">
		<div class="columns grid-80 centered clearfix">
	
			<div class="grid-100 sticky-note first last">
				<div class="row allies">
				<div class="column">
					<h3>
					<span class="column">
					<i class="material-icons">people_outline</i>
					</span>
					<span class="column">
					My Allies
					</span>
					</h3>
				</div>
				<div class="column righted clearfix sub-menu">
				<% if current_user?(@user) %>
					<a href="">
					<small>
					Settings
					</small>
					<i class="material-icons">settings</i>
					</a>
				<% end %>
				</div>
	
				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
						<span class="column">
						<i class="material-icons">favorite</i>
						</span>
						<span class="column">
						Enthusiast
						</span>
						</h4>
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
						<p class="ally-name">
						<span class="column">
						<a href="#">
						<span class="column">
						Victoria
						</span>
						<span class="column sub-menu">
						<i class="material-icons">launch</i>
						</span>
						</a>
						</span>
						<span class="column righted clearfix sub-menu">
						<% if current_user?(@user) %>
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
						<% end %>
						</span>
						</p>
						<p class="ally-title">
						Associate Account Executive
						</p>
					</div>
	
					<div class="ally-comment">
						<h5>
						Feedback
						</h5>
						<small>
						2 Days ago
						</small>
						<p>
						I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
						<a href="#">
						<span class="column">
						<i class="material-icons">reply</i>
						</span>
						<span class="column">
						Reply
						</span>
						</a>
						</p>
					</div>
				</div><!-- my-ally -->
	
				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
						<span class="column">
						<i class="material-icons">search</i>
						</span>
						<span class="column">
						Skeptic
						</span>
						</h4>
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
						<p class="ally-name">
						<span class="column">
						<a href="#">
						<span class="column">
						Victoria
						</span>
						<span class="column sub-menu">
						<i class="material-icons">launch</i>
						</span>
						</a>
						</span>
						<span class="column righted clearfix sub-menu">
						<% if current_user?(@user) %>
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
						<% end %>
						</span>
						</p>
						<p class="ally-title">
						Associate Account Executive
						</p>
					</div>
	
					<div class="ally-comment">
						<h5>
						Feedback
						</h5>
						<small>
						2 Days ago
						</small>
						<p>
						I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">

						<span class="column">
						<i class="material-icons">check_circle</i>
						</span>
						<span class="column">
						Replied
						</span>

						</p>
					</div>
				</div><!-- my-ally -->

				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
						<span class="column">
						<i class="material-icons">near_me</i>
						</span>
						<span class="column">
						Pioneer
						</span>
						</h4>
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
						<p class="ally-name">
						<span class="column">
						<a href="#">
						<span class="column">
						Victoria
						</span>
						<span class="column sub-menu">
						<i class="material-icons">launch</i>
						</span>
						</a>
						</span>
						<span class="column righted clearfix sub-menu">
						<% if current_user?(@user) %>
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
						<% end %>
						</span>
						</p>
						<p class="ally-title">
						Associate Account Executive
						</p>
					</div>
	
					<div class="ally-comment">
						<h5>
						Feedback
						</h5>
						<small>
						2 Days ago
						</small>
						<p>
						I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">

						<span class="column">
						<i class="material-icons">check_circle</i>
						</span>
						<span class="column">
						Replied
						</span>

						</p>
					</div>
				</div><!-- my-ally -->

				<div class="column my-ally">
					<div class="ally-profile">
						<h4 class="ally-class">
						<span class="column">
						<i class="material-icons">explore</i>
						</span>
						<span class="column">
						Navigator
						</span>
						</h4>
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
						<p class="ally-name">
						<span class="column">
						<a href="#">
						<span class="column">
						Victoria
						</span>
						<span class="column sub-menu">
						<i class="material-icons">launch</i>
						</span>
						</a>
						</span>
						<span class="column righted clearfix sub-menu">
						<% if current_user?(@user) %>
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
						<% end %>
						</span>
						</p>
						<p class="ally-title">
						Associate Account Executive
						</p>
					</div>
	
					<div class="ally-comment">
						<h5>
						Feedback
						</h5>
						<small>
						2 Days ago
						</small>
						<p>
						I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
						<a href="#">
						<span class="column">
						<i class="material-icons">reply</i>
						</span>
						<span class="column">
						Reply
						</span>
						</a>
						</p>
					</div>
				</div><!-- my-ally -->

				<div class="column my-ally last">
					<div class="ally-profile">
						<h4 class="ally-class">
						<span class="column">
						<i class="material-icons">spa</i>
						</span>
						<span class="column">
						Coach
						</span>
						</h4>
						<%= image_tag "profile-picture-deault.png", class: "profile-thumb" %>
						<p class="ally-name">
						<span class="column">
						<a href="#">
						<span class="column">
						Victoria
						</span>
						<span class="column sub-menu">
						<i class="material-icons">launch</i>
						</span>
						</a>
						</span>
						<span class="column righted clearfix sub-menu">
						<% if current_user?(@user) %>
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
						<% end %>
						</span>
						</p>
						<p class="ally-title">
						Associate Account Executive
						</p>
					</div>
	
					<div class="ally-comment">
						<h5>
						Feedback
						</h5>
						<small>
						2 Days ago
						</small>
						<p>
						I am very glad that you are keep tracking your roadmap well. Keep up the good job and 	don't 	forget reward yourself!
						</p>
						<p class="reply">
						<a href="#">
						<span class="column">
						<i class="material-icons">reply</i>
						</span>
						<span class="column">
						Reply
						</span>
						</a>
						</p>
					</div>
				</div><!-- my-ally -->

	
				</div><!-- row sticky-note -->
				<% if current_user?(@user) %>
				<div class="bottom text-center">
						<a href="#">
						<small class="f400">
						Edit
						</small>
						<i class="material-icons">mode_edit</i>
						</a>
				</div><!-- bottom end -->
				<% end %>
			</div><!-- grid-100 end -->
		</div><!-- grid-80 centered -->
	</div><!-- row -->
<% end %>

	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-100 sticky-note first last clear-float">
				<div class="row howrudoing">
					<h3>
					<span class="column">
					<i class="material-icons">assignment</i>
					</span>
					<span class="column">
					How RUDoing?
					</span>
					</h3>
					<div class="row-90 centered questions">
					<% if @user.microposts.any? %>
					<%= render @surveys %>
					<% else %>
					<%= render 'shared/survey_form' %>
					<% end %>

					</div><!-- questions -->
				</div><!-- row -->
			</div><!-- grid-100 sticky-note end -->
		</div><!-- columns grid-90 centered -->
	</div><!-- row end -->

	<div class="row">
	<div class="columns grid-80 centered clearfix">
			<div class="grid-50 sticky-note first">
				<div class="row skills-card">
				<div class="column">
					<h3>
					<span class="column">
					<i class="material-icons">assignment</i>
					</span>
					<span class="column">
					Skills
					</span>
					</h3>
				</div>
				<div class="column righted clearfix">
				<% if current_user?(@user) %>
					<%= link_to edit_user_path do %>
					<small>
					Edit
					</small>
					<i class="material-icons sub-menu">mode_edit</i>
					<% end %>
				<% end %>
				</div>
						<div class="column skills">
						<p>
						<% if @user.skills? %>
						<%= @user.skills %>
						<% else %>
						<% if current_user?(@user) %>
							<%= link_to edit_user_path do%>
							<span class="column">
							<small>
							"Update your skills.."
							</small>
							</span>
							<span class="column">
							<i class="material-icons">mode_edit</i>
							</span>
							<% end %>
							<% else %>
							<span class="column">
							<small>
							"This user yet updated skills.."
							</small>
							</span>
							<span class="column righted">
							<i class="material-icons">info_outline</i>
							</span>
							<% end %>
						<% end %>
						</p>
						</div><!-- column skills -->
				</div><!-- row sticky-note -->
			</div><!-- grid-30 end -->

		<div class="screen-m screen-s spacer"></div>

			<div class="grid-50 sticky-note last">
				<div class="row skills-card">
				<div class="column">
					<h3>
					<span class="column">
					<i class="material-icons">assignment</i>
					</span>
					<span class="column">
					Other Skills
					</span>
					</h3>
				</div>
				<div class="column righted clearfix">
				<% if current_user?(@user) %>
					<%= link_to edit_user_path do %>
					<small>
					Edit
					</small>
					<i class="material-icons sub-menu">mode_edit</i>
					<% end %>
				<% end %>
				</div>
						<div class="column skills">
						<p>
						<% if @user.other_skills? %>
						<%= @user.other_skills %>
						<% else %>
						<% if current_user?(@user) %>
							<%= link_to edit_user_path do%>
							<span class="column">
							<small>
							"Update your other skills.."
							</small>
							</span>
							<span class="column">
							<i class="material-icons">mode_edit</i>
							</span>
							<% end %>
							<% else %>
							<span class="column">
							<small>
							"This user yet updated skills.."
							</small>
							</span>
							<span class="column righted">
							<i class="material-icons">info_outline</i>
							</span>
							<% end %>
						<% end %>
						</p>
						</div><!-- column other_skills -->
				</div><!-- row sticky-note -->
			</div><!-- grid-70 end -->
	</div><!-- columns -->
	</div><!-- row -->


	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-100 sticky-note first last clear-float">
				<div class="row work-experience">
				<div class="column">
					<h3>
					<span class="column">
					<i class="material-icons">work</i>
					</span>
					<span class="column">
					Work Experience
					</span>
					</h3>
				</div>
				<div class="column righted clearfix">
				<% if current_user?(@user) %>
					<a href="">
					<small>
					Settings
					</small>
					<i class="material-icons sub-menu">settings</i>
					</a>
				<% end %>
				</div>
			<div class="row-90 centered experience-card">
			<div class="column">
			<%= image_tag "company-logo-default.png", class: "company-logo" %>
			</div>
			<div class="column experience-summary">
			<span class="column">
					<h4 class="job-title">
					&lt;Job Title&gt;
					</h4>
			</span>
					<p class="company-name">
					&lt;Company Name&gt;
					</p>
					<p class="time-location">
					April 2013 – Present (3 years 2 months) san francisco, california
					</p>
			</div>
			<div class="column righted clearfix">
			<% if current_user?(@user) %>
				<a href="">
				<small>
				Edit
				</small>
				<i class="material-icons sub-menu">mode_edit</i>
				</a>
			<% end %>
			</div>
			<div class="column">
			<p class="company-summary">
			Entrepreneurial spirited professional with broad skills in start-ups, international business development, and bridging academia with business communities.
			</p>
			</div><!-- column -->
			</div><!-- row-90 work-experience-card -->

			<div class="row-90 centered experience-card last">
			<div class="column">
			<%= image_tag "company-logo-default.png", class: "company-logo" %>
			</div>
			<div class="column experience-summary">
			<span class="column">
					<h4 class="job-title">
					&lt;Job Title&gt;
					</h4>
			</span>
					<p class="company-name">
					&lt;Company Name&gt;
					</p>
					<p class="time-location">
					April 2013 – Present (3 years 2 months) san francisco, california
					</p>
			</div>
			<div class="column righted clearfix">
			<% if current_user?(@user) %>
				<a href="">
				<small>
				Edit
				</small>
				<i class="material-icons sub-menu">mode_edit</i>
				</a>
			<% end %>
			</div>
			<div class="column">
			<p class="company-summary">
			Entrepreneurial spirited professional with broad skills in start-ups, international business development, and bridging academia with business communities.
			</p>
			</div><!-- column -->
			</div><!-- row-90 work-experience-card -->
			</div><!-- row -->
			<% if current_user?(@user) %>
				<div class="bottom text-center">
					<a href="#">
					Edit
					</a>
				</div><!-- bottom end -->
			<% end %>
			</div><!-- grid-100 sticky-note end -->
		</div><!-- columns grid-90 centered -->
	</div><!-- row end -->

</section><!-- centered bottomfix -->

