<%= form_for current_user.positions.build do |f| %>
	<div class="row">
		<div class="columns grid-80 centered clearfix">
				<div class="grid-100 sticky-note first last">
					<h3 class="text-left">
					<i class="material-icons sub-menu">work</i>
					<span class="update">
					Add Work Experience
					</span>
					</h3>
					<div class="field">
					<%= render 'shared/error_messages', object: f.object %>
					<%= label_tag(:company, "Company Name") %>
					<%= f.text_field :company, class: "form-controll" %>
					</div>
					<div class="field">
					<%= render 'shared/error_messages', object: f.object %>
					<%= label_tag(:title, "Title") %>
					<%= f.text_field :title, class: "form-controll" %>
					</div>
					<div class="field">
					<%= render 'shared/error_messages', object: f.object %>
					<%= label_tag(:summary, "Summary") %>
					<%= f.text_area :summary, class: "form-controll" %>
					</div>
					<div class="field">
					<%= render 'shared/error_messages', object: f.object %>
					<%= label_tag(:start_date, "Start Date") %>
					<%= f.date_select :start_date, class: "form-controll" %>
					</div>
					<div class="field">
					<%= render 'shared/error_messages', object: f.object %>
					<%= label_tag(:end_date, "End Date") %>
					<%= f.date_select :end_date, class: "form-controll" %>
					</div>
					<div class="field">
					<%= render 'shared/error_messages', object: f.object %>
					<%= f.check_box :is_current, class: "form-controll" %>
					<%= label_tag(:is_current, "Is this current position?") %>

					</div>
					<%= f.submit "Add Work Experience", class: "button small secondary righted" %>
					<% end %>
				</div><!-- sticky-note -->
		</div><!-- columns grid-100 centered -->
	</div><!-- row end -->
