
<%= form_for current_user.microposts.build do |f| %>

				<div class="row-100 question">
					<h3 class="text-left">
					<span class="column">
					<i class="material-icons">format_quote</i>
					Do you believe ghost?
					</span>
					</h3>
					<div class="field">
					<%= render 'shared/error_messages', object: f.object %>
					<%= f.text_area :survey_1, placeholder: "Enter your answer here..." %>
					</div>
				</div><!-- question -->

				<div class="row-100 question">
					<h3 class="text-left">
					<span class="column">
					<i class="material-icons">format_quote</i>
					Are you cat person or dog person?
					</span>
					</h3>
					<div class="field">
					<%= render 'shared/error_messages', object: f.object %>
					<%= f.text_area :survey_2, placeholder: "Enter your answer here..." %>
					</div>
				</div><!-- question -->

				<div class="row-100 question">
					<h3 class="text-left">
					<span class="column">
					<i class="material-icons">format_quote</i>
					If you can own a planet in our solor system, which planet is going to be yours?
					</span>
					</h3>
					<div class="field">
					<%= render 'shared/error_messages', object: f.object %>
					<%= f.text_area :survey_3, placeholder: "Enter your answer here..." %>
					</div><!-- field -->
				</div><!-- question -->

				<div class="row-100 question">
					<h3 class="text-left">
					<span class="column">
					<i class="material-icons">format_quote</i>
					How much do you like your job?
					</span>
					</h3>
					<div class="field">
					<%= render 'shared/error_messages', object: f.object %>
					<span class="column lefted clearfix">
					1
					</span>
					<span class="column righted clearfix">
					10
					</span>
					<%= range_field(:micropost, :survey_4, in: 1..100) %>
					</div><!-- field -->
				</div><!-- question -->

				<div class="row-90 centered question">
					<%= f.submit "Submit my answers!", class: "button survey" %>
					<% end %>
				</div><!-- question -->


