
				<div id="company-<%= company.id %>" class="column my-ally">
					<div class="ally-profile">
					<div class="column ally-avator lefted">

						<% if Rails.env.production? %>
						<%= if company.picture?
								image_tag company.picture.url, class: "profile-thumb"
							else
								image_tag "company-logo-default.png", class: "profile-thumb"
							end %>
						<% else %><%#-- if Rails.env.production --%>
						<%= if company.picture?
								image_tag company.picture.url, class: "profile-thumb"
							else
								image_tag "company-logo-default.png", class: "profile-thumb"
							end %>
						<% end %><%#-- if Rails.env.production? --%>

					</div><!-- ally-avator -->

					<div class="column ally-info">
						<p class="ally-name">
							<span class="column">
							<a href="../companies/<%= company.id %>/show">
								<span class="column">
								<%= company.name %>
								</span>
								<span class="column sub-menu">
								<i class="material-icons">launch</i>
								</span>
								</a>
							</span>
						</p>
					</div><!-- column ally-info -->

					<div class="column sub-menu righted clearfix">
						<% if current_user?(company.user) %>
							<%#= link_to edit_company_path do %>
							<a href="../companies/<%= company.id %>/edit">
							<i class="material-icons">mode_edit</i>
							</a>
							<%# end %>
							<%= link_to company, method: :delete, data: { confirm: "You sure?" } do %>
							<i class="material-icons">delete</i>
							<% end %>

						<% end %><%# if current_user? %>
					</div><!-- sub-menu -->

					<div class="column ally-info">
					<p class="ally-title">
						<%= company.industry %>
					</p>
					<p class="ally-title">
						<%= company.website %>
					</p>

						<p class="ally-title">
							<%= company.summary %>
						</p>

					</div><!-- ally-info -->
					</div><!-- ally-profile -->

					</div>
