<p id="survey-<%= survey.id %>">
  <span class="user"><%= link_to survey.user.name, survey.user %></span>
  <span class="content"><%= @survey.question_1 %></span>
</p>
<p id="survey-<%= survey.id %>">
  <span class="user"><%= link_to survey.user.name, survey.user %></span>
  <span class="content"><%= @survey.question_2 %></span>
</p>
<p id="survey-<%= survey.id %>">
  <span class="user"><%= link_to survey.user.name, survey.user %></span>
  <span class="content"><%= @survey.question_3 %></span>
</p>
<p id="survey-<%= survey.id %>">
  <span class="user"><%= link_to survey.user.name, survey.user %></span>
  <span class="content"><%= @survey.question_4 %></span>
</p>
<p id="survey-<%= survey.id %>">
  <span class="user"><%= link_to survey.user.name, survey.user %></span>
  <span class="content"><%= @survey.question_5 %></span>
</p>
<p id="survey-<%= survey.id %>">
  <span class="user"><%= link_to survey.user.name, survey.user %></span>
  <span class="content"><%= @survey.question_6 %></span>
</p>
<p id="survey-<%= survey.id %>">
  <span class="user"><%= link_to survey.user.name, survey.user %></span>
  <span class="content"><%= @survey.question_7 %></span>
</p>
<p id="survey-<%= survey.id %>">
  <span class="user"><%= link_to survey.user.name, survey.user %></span>
  <span class="content"><%= @survey.question_8 %></span>
</p>
<p id="survey-<%= survey.id %>">
  <span class="user"><%= link_to survey.user.name, survey.user %></span>
  <span class="content"><%= @survey.question_9 %></span>
</p>
<p id="survey-<%= survey.id %>">
  <span class="user"><%= link_to survey.user.name, survey.user %></span>
  <span class="content"><%= @survey.question_10 %></span>
</p>
