
						<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							Do you believe ghost?
							</span>
							</h4>
							<div class="answer post-<%= micropost.id %>">
							<div class="grid-100">
							<div class="column lefted">
								<h5>
								Your Answer
								</h5>
								<small>
								<%= time_ago_in_words(micropost.created_at) %> ago.
								</small>
							</div><!-- column lefted -->
							<div class="column righted">
								<% if current_user?(@user) %>
								<a href="../microposts/<%= micropost.id %>/edit">
								<small>
								Edit
								</small>
								<i class="material-icons sub-menu">mode_edit</i>
								</a>
								<% end %>
							</div><!-- column righted -->
							</div><!-- grid-100 -->
							<div class="grid-100">
								<p>
								<%= micropost.survey_1 %>
								</p>
							</div><!-- grid-100 -->
						</div><!-- answer -->
					</div><!-- question -->
						<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							Are you cat person or dog person?
							</span>
							</h4>
							<div class="answer post-<%= micropost.id %>">
							<div class="grid-100">
							<div class="column lefted">
								<h5>
								Your Answer
								</h5>
								<small>
								<%= time_ago_in_words(micropost.created_at) %> ago.
								</small>
							</div><!-- column lefted -->
							<div class="column righted">
								<% if current_user?(@user) %>
								<a href="../microposts/<%= micropost.id %>/edit">
								<small>
								Edit
								</small>
								<i class="material-icons sub-menu">mode_edit</i>
								</a>
								<% end %>
							</div><!-- column righted -->
							</div><!-- grid-100 -->
							<div class="grid-100">
								<p>
								<%= micropost.survey_2 %>
								</p>
							</div><!-- grid-100 -->
						</div><!-- answer -->
					</div><!-- question -->
						<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							If you can own a planet in our solor system, which planet is going to be yours?
							</span>
							</h4>
							<div class="answer post-<%= micropost.id %>">
							<div class="grid-100">
							<div class="column lefted">
								<h5>
								Your Answer
								</h5>
								<small>
								<%= time_ago_in_words(micropost.created_at) %> ago.
								</small>
							</div><!-- column lefted -->
							<div class="column righted">
								<% if current_user?(@user) %>
								<a href="../microposts/<%= micropost.id %>/edit">
								<small>
								Edit
								</small>
								<i class="material-icons sub-menu">mode_edit</i>
								</a>
								<% end %>
							</div><!-- column righted -->
							</div><!-- grid-100 -->
							<div class="grid-100">
								<p>
								<%= micropost.survey_3 %>
								</p>
							</div><!-- grid-100 -->
						</div><!-- answer -->

					</div><!-- question -->

						<div class="question">
							<h4>
							<span class="column">
							<i class="material-icons">format_quote</i>
							How much do you like your job?
							</span>
							</h4>
							<div class="answer post-<%= micropost.id %>">
							<div class="grid-100">
							<div class="column lefted">
								<h5>
								Your Answer
								</h5>
								<small>
								<%= time_ago_in_words(micropost.created_at) %> ago.
								</small>
							</div><!-- column lefted -->
							<div class="column righted">
								<% if current_user?(@user) %>
								<a href="../microposts/<%= micropost.id %>/edit">
								<small>
								Edit
								</small>
								<i class="material-icons sub-menu">mode_edit</i>
								</a>
								<% end %>
							</div><!-- column righted -->
							</div><!-- grid-100 -->


								<dl>
								<dt>
								<span class="column lefted">
								Never like my job
								</span>
								<span class="column righted">
								Love my job!
								</span>
								</dt>
								<dd class="percentage percentage-<%= micropost.survey_4 %>">
								</dd>
								</dl>
								</p>
						</div>
					</div><!-- question -->
