<footer>
	<div class="row bottomfix">

		<div class="columns grid-80 centered clearfix on-public-view">
			<div class="grid-30">
				<nav class="screen-full">
					<ul class="footer-link"><li>
						<%= link_to "HOME", root_path %>
					</li><li>
						<%= link_to "ABOUT", about_path %>
					</li></ul>
				</nav>
			</div><!-- grid-30 -->

			<div class="grid-30">
				<nav class="screen-full">
					<ul class="footer-link"><li>

						<%= link_to "TERMS", terms_path %>
					</li><li>
						<%= link_to "PRIVACY", privacy_path %>
					</li><li>
						<a href="mailto:contact@hugehood.co">
						CONTACT
						</a>
					</li></ul>
				</nav>
			</div><!-- grid-30 -->

			<div class="grid-40 text-right last logo">
				<h1>
				<%= image_tag "logo.png", alt: "logo" %>
				</h1>
				<p><small>
				Thirive and Succeed.&trade;
				</small></p>
				<div class="social-icons">
					<ul class="horizontal"><li class="li-first">
						<a href="https://www.facebook.com/HugeHood" class="facebook"></a>
					</li><li>
						<a href="https://twitter.com/HUGEHOOD" class="twitter"></a>
					</li><li>
						<a href="https://www.linkedin.com/in/masaakifuruki" class="linkedin"></a>
					</li><li>
						<a href="http://stackoverflow.com/users/2442202/masaaki" class="stack-overflow"></a>
					</li><li class="li-last">
						<a href="https://github.com/masaakifuruki" class="github"></a>
					</li></ul>
				</div><!-- social-icons -->
			</div><!-- grid-30 -->
		</div><!-- columns grid-80 centered -->

	</div><!-- row bottomfix end -->

	<div class="grid-100 copyright on-public-view">
		<div class="columns grid-80 centered clearfix">
			<p><small>
			&copy; 
			2016 Eudaimonia Inc. All Rights Reserved.
			</small></p>
		</div><!-- columns grid-80 centered -->
	</div><!-- copyright div end -->

	<div class="grid-100 copyright on-logged-in-view">
		<div class="columns grid-80 centered clearfix">
		<div class="column row-40">
			<p><small>
			&copy; 
			2016 Eudaimonia Inc. All Rights Reserved.
			</small></p>
		</div>
		<div class="column righted row-60 clearfix">
			<nav>
				<ul class="footer-link"><li>
					<a href="/">
					Terms
					</a>
				</li><li>
					<a href="#solutions">
					Privacy
					</a>
				</li></ul>
			</nav>
		</div>
		</div><!-- columns grid-80 centered -->
	</div><!-- copyright div end -->

</footer>