<header>
	<div class="row topbar">

		<div class="grid-80 centered clearfix">
			<% if logged_in? %>
			<div class="grid-80 lefted logo">
			<% else %>
			<div class="grid-40 lefted logo">
			<% end %>
			<div class="column">
			<h1>
			<%= link_to "345 Thrive", root_path %>
			</h1>
			</div>
			<% if logged_in? %>
			<%= render 'search' %>
			<% end %>

			</div><!-- grid-20 lefted -->

			
			<% if logged_in? %>
			<div class="grid-20 righted text-right">
			<% else %>
			<div class="grid-60 righted text-right">
			<% end %>
			<nav>
				<div class="dropdown">
					<button onclick="expandDropdown()" class="trigger">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
					<div id="dropdownList" class="dropdown-content">

					<% if logged_in? %>

					<%= link_to user_path(current_user) do%>
					<i class="material-icons">account_circle</i>
					<span class="nav-item">
					<%= current_user.name %>
					</span>
					<% end %><%# link_to user %>

					<%= link_to root_path do%>
					<i class="material-icons">apps</i>
					<span class="nav-item">
					Demo App
					</span>
					<% end %><%# link_to root_path %>

					<%= link_to companies_path do%>
					<i class="material-icons">business</i>
					<span class="nav-item">
					My Company
					</span>
					<% end %><%# link_to companies_path %>

					<%= link_to allies_path do%>
					<i class="material-icons">people</i>
					<span class="nav-item">
					Ally Circle
					</span>
					<% end %><%# link_to allies_path %>

					<% if current_user.cadmin? %>
					<%= link_to companies_new_path do%>
					<i class="material-icons">add_circle</i>
					<span class="nav-item">
					Create Company
					</span>
					<% end %><%# linke_to companies %>
					<% end %><%# if current_user.cadmin %>
					
					<%= link_to setting_path(current_user) do%>
					<i class="material-icons">settings</i>
					<span class="nav-item">
					Settings
					</span>
					<% end %><%# link_to setting %>

					<%= link_to root_path do%>
					<i class="material-icons">credit_card</i>
					<span class="nav-item">
					Manage Subscription
					</span>
					<% end %><%# link_to subscription %>

					<%= link_to logout_path, class: "last login", method: "delete" do%>
					<span class="nav-item">
					LOG OUT
					</span>
					<i class="material-icons">directions_run</i>
					<% end %><%# link_to logout %>

					<% else %>

					<%= link_to "HOME", root_path %>
					<%= link_to "ABOUT", about_path %>
					<%#= link_to "SIGN UP with LINKEDIN", "auth/linkedin" %>
					<%= link_to "LOG IN | SIGN UP", login_path, class: "last login" %>
					<% end %>

					</div><!-- dropdown-content -->

				</div><!-- dropdown -->

			</nav>

			</div><!-- grid-20 righted text-right -->
		</div><!-- grid-80 centered clearfix -->

	</div><!-- row topbar -->

</header>