<!doctype html><!-- HTML 5 -->
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Eudaimonia Inc.">
	<meta name="description" content="Preparing organizations and individuals to thrive and sucseed.">
	<meta name="keywords" content="Employee success, Career Design, Human Resouce, key word, key word, key word, key word, key word, key word, key word, key word">
	<meta name="robots" content="all">
	<title><%= full_title(yield(:title)) %></title>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>

<% if user_signed_in? %>
<body id="logged-in-view">
<% else %>
<body id="public-view">
<% end %>
<div id="container">
<%= render 'layouts/header' %>

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<%= yield %>


<%= render 'layouts/footer' %>
</div><!-- container -->
<script type="text/javascript">
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function expandDropdown() {
    document.getElementById("dropdownList").classList.toggle("show");
}
// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.trigger')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
</html>
