<!doctype html><!-- HTML 5 -->
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Eudaimonia Inc.">
	<meta name="description" content="Preparing organizations and individuals to thrive and sucseed.">
	<meta name="keywords" content="Employee success, Career Design, Human Resouce, key word, key word, key word, key word, key word, key word, key word, key word">
	<meta name="robots" content="all">
	<title><%= full_title(yield(:title)) %></title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>

<% if logged_in? %>
<body id="logged-in-view">
<% else %>
<body id="public-view">
<% end %>
<div id="container">
<%= debug(params) if Rails.env.development? %>
<%= render 'layouts/header' %>

	<% flash.each do |message_type, message| %>
    <div class="row">
    <div class="columns grid-80 centered clearfix">

		<div class="alert alert-<%= message_type %>">
    <small>
    <%= message %>
    </small>
    </div>
    </div>
    </div>
	<% end %>

<%= yield %>
<%= render 'layouts/footer' %>
</div><!-- container -->
<script type="text/javascript">
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function expandDropdown() {
    document.getElementById("dropdownList").classList.toggle("show");
}
// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.trigger')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<script type="text/javascript">
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function launchQuickeditor() {
    document.getElementById("quickeditorForm").classList.toggle("show");
}
// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.trigger')) {

    var dropdowns = document.getElementsByClassName("quickeditor-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
</html>
